.rc-select {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  color: #666;
  line-height: 28px;
  border: #000 solid;
  border-radius: 5px;
  width: 100%;
  .rc-select-selection-search-input {
    line-height: 28px;
    border: none;
    outline: none;
    background: transparent;
    caret-color: transparent;
  }
  .rc-select-selection-item, .rc-select-selection-placeholder {
    position: absolute;
    left: 0.3rem;
    font-size: 14px;
  }
  .rc-select-selection-item {
    color: #000;
  }
}

.rc-select-dropdown {
  box-sizing: border-box;
  margin: 0;
  padding: 4px;
  color: rgba(0,0,0,.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  position: absolute;
  top: -9999px;
  z-index: 1050;
  overflow: hidden;
  font-variant: initial;
  background-color: #fff;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.08), 0 3px 6px -4px rgba(0,0,0,.12), 0 9px 28px 8px rgba(0,0,0,.05);
  .rc-select-item-option {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 32px;
    padding: 5px 12px;
    color: rgba(0,0,0,.88);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5714285714285714;
    box-sizing: border-box;
    cursor: pointer;
    transition: background .3s ease;
    border-radius: 4px;
    &.rc-select-item-option-selected {
      color: #fff;
      background-color: #16213E;
    }
  }
}

.rc-select-dropdown-hidden {
  display: none;
}
