.wrapper {
  position: relative;
  .footer {
    position: absolute;
    bottom: 18px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    .search {
      width: 260px;
      margin-left: 10px;
    }
  }
}
