.rc-textarea {
  resize: none;
  height: 200px;
  border-inline-end-width: 1px;
  outline: 0;
  max-width: 100%;
  line-height: 1.5714285714285714;
  vertical-align: bottom;
  transition: all .3s,height 0s;
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px;
  color: rgba(0,0,0,.88);
  font-size: 14px;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  background-color: #fff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  &:focus {
    border-color: #19376D;
    box-shadow: 0 0 0 2px #0B244720;
  }
}